#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow: hidden; /* Hide overflow if image extends beyond viewport */
  background-color: black;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/home-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust this value for desired opacity */
  z-index: -1; /* Place the pseudo-element behind the content */
}

