#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
}

.home {
  background-color: transparent;
}

.section-one {
  background-color: #ff6347; /* Tomato */
}

.section-two {
  background-color: #4682b4; /* SteelBlue */
}

.section-three {
  background-color: #3cb371; /* MediumSeaGreen */
}
